<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="$solutionid$"/>
    <add key="FarmFeatureId" value="$guid1$"/>
    <add key="SolutionFile" value="$AssemblyName$.wsp"/>
    <add key="SolutionTitle" value="$projectname$"/>
    <add key="SolutionVersion" value="$AssemblyVersion$"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>